body {
  background-image: url('https://www.flexcon.com/~/media/images/approach/industry-insights/digital-wave-400x267.ashx?la=en&hash=4D434EAF835BF86B38808F1481D5583B68C1DDA9');
}

h1 {
  text-align: center;
  color: firebrick;
  margin: 110px 30px 50px 30px;
  font-size: 50px;
}

